@charset "utf-8";

*
{
	padding: 0px;
	margin: 0px;
}

a
{
	text-decoration: none;
}

body
{
	height: 100vh;
	width: 100vw;	
	background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
	background-attachment: fixed;
	background-size:cover;
}

main
{
	display: flex;
	height: 100%;
	justify-content: space-between;
}

iframe
{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 300px;
}

section
{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#redesocial
{
	justify-content: flex-start;	
	align-items: flex-end;	
	padding: 10px;
}


#redesocial img
{
	width: 40px;
	height: 40px;
	border-radius: 30px;
	padding: 7px;
}

#telefone img
{
	width: 211px;
	height: 427px;
}
