*
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helveltica, "sans-serif";
}

::-webkit-scrollbar
{
	height: 0px;
	width: 0px;	
}

body
{
	height: 100vh;
}

img
{
	width: 100%;
}

a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 0, 0);
	display: block;
	text-align: center;
	font-weight: bolder;
	padding: 15px;
}
